.project__image-innerContainer{
    /* border: 3px solid blue; */
    height:min-content;
    width: max-content;
    padding:50px;
    /* position:absolute; */
    background-color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;

    
}

.project__image-outterContainer{
    border: 3px solid orange;
    /* width:100vh; */
    background-image: url('./cleaning-essentials.jpg');
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width:100%;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}

.project__inst-label{
    /* border: 3px solid red; */
    width:fit-content;
    display:flex;
    justify-content: center;
    position: relative;
    left: 45%;
}

.project__instructions-container{
    /* border: 3px solid yellow; */
    border-right:3px solid grey;
    border-left:3px solid grey;
    height: fit-content;
    /* width:60%; */
    /* margin-left: 25%; */
    width:50%;
    margin-top: 100px;
    font-size: larger;
    line-height:200%;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    /* border-radius:30px; */
    background-color:white;
}



.project__durationCost-container{
    /* border: 3px solid green; */
    height: 400px;
    width: 18%;
    position:absolute;
    top:50%;
    background-color:white;
    
    /* margin-left: 3% */
}

.duration{
    display:flex;
    flex-direction: column;
    align-items: center;  
    /* border-bottom:3px solid grey; */
    height:10%;
    /* justify-content: center; */
    margin:5px;
    /* border: 3px solid green; */
    position: absolute; 
    left:100px;
    top:120px;
    background-color: white;
    border-radius:30px;
    padding:10px;
    /* width:5%; */
    line-height:100%;


}

.cleaning__bkg-img{
    width:100vh;
}

.project__supplies-container{
    /* border: 3px solid green; */
    height: 400px;
    width: 18%;
    position:absolute;
    top:113%;
    right:30px;
    background-color:white;
    padding-top:-5px;

    /* margin-right: 3% */
}


.project__title-container{
    /* border: 3px solid blue; */
    display:flex;
    justify-content:center;
    font-weight:bold;
    background-color:white;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    /* color:white; */
}


.project-body{
    background-color: white;
    background-size: 400% 400%;
    height: 100%;
    width:110%;
    margin-left: -6px;
  
}
.project__externalLinks-container{
    border-bottom: 3px solid grey;
    padding:30px;
    font-size:large;
    display:flex;
    justify-content: space-around;
    /* width:49%; */
    align-items: center;
    /* margin-left:20%; */
}

.save-project-tile{
    /* border: 3px solid purple; */
    /* height:30%; */
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top:30px; */
    position: absolute;
    top:120px;
    right: 100px;

}

.save__button{
    display:flex;
    align-items: center;
    /* width: 40%; */
    font-size: large;
    height: 50px;
    border:none;
    border-radius:30px;
    /* position: absolute; */
}

.save__button:hover{
    cursor: pointer;
}

.saved{
    background-color: red;
}

.supply-list{
    border-bottom: 3px solid grey;
    /* margin:5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cost-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.review__outter-container{
    /* border: 3px solid blue; */
    width:70%;
    margin-left: 210px; 
    height:970px;
    background-color: white;
    border-radius: 30px;
    /* overflow: hidden; */
}
