.save__button{
    display:flex;
    align-items: center;
    font-size: large;
    height: 50px;
    border:none;
    border-radius:30px;
    background-color: green; 
    color: white;

}

.save__button:hover{
    cursor: pointer;
}

.unsave{
    background-color: red; 
    
}
