/* body {
	background: linear-gradient(-45deg,  #461E52, #DD517F, #E68E36, #556DC8, #7998EEl);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
} */



@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a{
    text-decoration: none;

}

.can{
    color:white;
    width:40%
}

.login__form-outer{
	border: 3px solid #72739f;;
	width:350px;
	height:600px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	border-radius: 30px;
	background-color: aliceblue;

}

.form__header-contianer{
	position:relative;
	/* top:20px; */
	/* left:20px; */
	/* border: 3px solid green; */
	color:#72739f;
	font-family: Ephesis;
	font-size:33px;
	transform: skew(-15deg);
	font-weight:bold;
	
}

.form__label-input{
	/* border:3px solid red; */
	display:flex;
	flex-direction: column;
	width:300px;
	margin-top:40px;
}

.login__label{
	display:flex;
	/* border:3px solid purple; */
	justify-content: center;
	font-size:25px;
	margin-bottom:10px;
}

.login__input{
	padding:10px;
	margin-bottom:20px;
}

.login__button{
	padding:10px;
	font-size:17px;
	border-radius:30px;
	font-weight:bold;
	background-color:rgb(30, 30, 54);
	color:white;
}

.redirect__container{
	margin-top:20px;
}


.form__login{
	/* border: 3px solid red; */
	margin-top:-50px;
}

.login__form-err{
	color:red;
}

.form__outter-container{
	/* border: 3px solid red; */
	height: 100vh;
	width: 60%;
	position:absolute;
	right:0;
	top:0;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius:900px 0 0 300px ;
	background-color:white;
	background: linear-gradient(-45deg,  #E4D2B3, #B8AB93, wheat, #B19F80);
}

.images__outter-container{
	/* border: 3px solid green; */
	width:100vw;
	position:absolute;
	left:0;
	top:0;
	height:100vh;
	background-image: url(login_background.png);
	background-size:100% 100%

}

.signup__form-outer{
	border: 3px solid #72739f;;
	width:fit-content;
	height:fit-content;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	border-radius: 30px;
	background-color: aliceblue;
	padding: 0 20px  0  20px;
	margin-left:20%;


}

.container__items-left{
	border-right: 4px solid #72739f;
	padding-right: 20px;

}

.container__items-right{
	border-left: 4px solid #72739f;
	padding-left: 20px;
}
/* .form__signup{
	display:flex;
	
} */

.input__fields{
	display:flex;

}

.signup__button{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.signup__buttn{
	padding:10px;
	font-size:17px;
	border-radius:30px;
	font-weight:bold;
	background-color:rgb(30, 30, 54);
	color:white;
	width:30%;
	margin-top:3%;
	
}

/* .login__buttn{
	padding:10px;
	font-size:17px;
	border-radius:30px;
	font-weight:bold;
	background-color:rgb(30, 30, 54);
	color:white;
	width:30%;
	margin-top:3%;
	
} */
.auth_errs{
	color: red; 
	font-weight:bold;
}


.login-cancel{
    color:white;
    /* border: 3px solid red; */
    
}


.login__button-container{
    display:flex;
    flex-direction: column;
}
