.edit__title-field{
    border: 3px solid red;
    position: absolute;
    display:flex;
    flex-direction: column;
    
}

.edit__title-input{
    height:45px;
    width:300px;
    margin-top:15px;
}

.edit__button-container{
    margin-top:7px;
    /* border: 3px solid blue; */
    display:flex;
    justify-content: space-between;
}

.edit__title-btn{
    position: absolute;
    right:32%;
    top:4%;
    /* left:2% */
    
}

.edit__duration-field{
    border: 3px solid purple;
    display: flex;
    flex-direction: column;
    position:absolute;
    top:58%

}

.time{
    margin-top:3px;
}

.edit__duration-btn{
    position: absolute;
    right:7%;
    bottom:20%;
}
.btns{
    background:transparent;
    border:none;
}

.btns:hover{
    cursor: pointer;
}
.edit__cancel-btn{
    border: 30px;
    background-color: red;
    border: 2px solid red;
    font-weight: bold;;
}




.edit__image-container{
    border: 3px solid green;
    position:absolute;
    bottom:-7%;
    width:20%;
    left:35%;
    display:flex;
    justify-content: space-between;
}

.edit__imag-btn{
    position:absolute; 
    bottom:-8%;
    left:58%;
}

.edit__supplyList-field{
    border:3px solid purple;
    position:absolute;
    top:10%;
    left:27%

}

.edit__supplyList-input{
    height:100px;

    width:200px;
}

.edit__supplies-btn{
    position:absolute;
    top:5%;
    right:12%
}



.instructions__outter-container{
    border: 3px solid red;
    height:fit-content;
    display:flex;
    justify-content:center;
}


.project__instructions-container-update{
    border: 3px solid purple;
    border-right:3px solid grey;
    border-left:3px solid grey;
    height: fit-content;
    /* width:60%; */
    /* margin-left: 25%; */
    width:47%;
    margin-top: 100px;
    margin-bottom: 300px;
    font-size: larger;
    line-height:200%;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    /* border-radius:30px; */
    background-color:white;
    

}


.project__supplies-container-update{
    border: 3px solid green;
    height: 400px;
    width: 18%;
    position:absolute;
    top:113%;
    left:10%;
    background-color:white;
    padding-top:-5px;

    /* margin-right: 3% */
}


.instructions__input-field{
    border: 3px solid blue;
    width:51%;
    position:absolute;
    top:135%;
    left:29%;
    
    height:40%
}


.instructions__edit-buttons{
    position:absolute;
    margin-top:2%;
}

.inst{
    /* border:3px solid red; */
    width:120%
}

.done__edit{
    background:green;
    border:green;
    font-weight:bold;
}


.hidden{
    display: none;
}
