.edit__title-field{
    /* border: 3px solid red; */
    position: absolute;
    display:flex;
    flex-direction: column;
    
}

.edit__title-input{
    height:45px;
    width:300px;
    margin-top:15px;
}

.edit__button-container{
    margin-top:7px;
    /* border: 3px solid blue; */
    display:flex;
    justify-content: space-between;
}

.edit__title-btn{
    position: absolute;
    right:32%;
    top:4%;
    /* left:2% */
    
}

.edit__duration-field{
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    position:absolute;
    top:61%

}

.time{
    margin-top:3px;
}

.edit__duration-btn{
    position: absolute;
    right:7%;
    bottom:20%;
}
.btns{
    background:transparent;
    border:none;
}

.btns:hover{
    cursor: pointer;
}
.edit__cancel-btn{
    border: 30px;
    background-color: red;
    border: 2px solid red;
    font-weight: bold;;
}


.update__image-preview{
    /* border:3px solid red; */
    position:absolute;
    width:50%;
    height:65%;
    z-index:2;

}

.edit__image-container{
    /* border: 3px solid green; */
    position:absolute;
    bottom:-9%;
    height: 5%;
    width:20%;
    left:45%;
    display:flex;
    justify-content: space-between;
}

.edit__imag-btn{
    position:absolute; 
    bottom:-2%;
    left:58%;
}

.edit__supplyList-field{
    border:3px solid black;
    position:absolute;
    top:15%;
    left:15%

}

.edit__supplyList-input{
    height:100px;

    width:200px;
}

.edit__supplies-btn{
    position:absolute;
    top:5%;
    right:12%
}



.instructions__outter-container{
    /* border: 3px solid red; */
    height:fit-content;
    display:flex;
    justify-content:center;
}


.project__instructions-container-update{
    /* border: 3px solid purple; */
    border-right:3px solid grey;
    border-left:3px solid grey;
    height: fit-content;
    /* width:60%; */
    /* margin-left: 25%; */
    width:47%;
    margin-top: 100px;
    margin-bottom: 300px;
    font-size: larger;
    line-height:200%;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    /* border-radius:30px; */
    background-color:white;
    

}


.project__supplies-container-update{
    /* border: 3px solid purple; */
    height: 400px;
    width: 20%;
    position:absolute;
    top:120%;
    left:7%;
    background-color:white;
    padding-top:-5px;

    /* margin-right: 3% */
}


.instructions__input-field{
    border: 3px solid grey;
    border-radius: 10px;
    width:51%;
    position:absolute;
    top:135%;
    left:29%;
    
    height:40%
}


.instructions__edit-buttons{
    position:absolute;
    margin-top:2%;
}

.inst{
    /* border:3px solid red; */
    width:120%
}

.done__edit{
    background:green;
    border:green;
    font-weight:bold;
}


.edit__inst-btn{
    /* position: absolute;  */
    /* border: 3px solid purple; */

}

.inst__label-container{
    /* border: 3px solid blue; */
    display:flex;
    flex-direction: column;
}


.edit__links-btn{
    position:absolute;
    left:12%;
}

.edit-links-input-field{
    position: absolute;
    left:19.5%;
    margin-top:4%;
    width:70%

}

.links{
    position: absolute;
    left:9%;
    margin-top:6%;
    /* border: 3px solid green; */
    width: 8%
}


.supply-list-update{
    border-bottom: 3px solid grey;
    /* border:3px solid red; */
    height:fit-content;
    min-height:60%;

    /* margin:5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.duration-update{
    display:flex;
    flex-direction: column;
    align-items: center;  
    border:3px solid grey;
    height:13%;
    /* justify-content: center; */
    margin:5px;
    /* border: 3px solid green; */
    position: absolute; 
    left:100px;
    top:150px;
    background-color: white;
    border-radius:30px;
    padding:10px;
    /* width:5%; */
    line-height:100%;


}

.supply__list-label{
    position:absolute;
    top:-3%;
    /* border: 3px solid green; */
}

.supply__list-update-edit{
   margin-top: -9% ;
   /* border:3px solid orange; */
}

.cost-container-update{
    /* border: 3px solid orange; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top:10px;
}

.edit__cost-btn{
    position: absolute; 
    right: 10%;
    bottom:9%
}

.edit__cost-container{
    /* border: 3px solid yellow; */
    display:flex;
    flex-direction: column;
    position:absolute;
    bottom:4%
}

.updateCost-btns{
    margin-top:5%;
    display: flex;
    justify-content: space-between;

}
.hidden{
    display: none;
}


.update__errors-container{
    position:absolute;
    right: 10px;
    /* border: 3px solid green; */
    color:red;
    background-color: white;



}

.update__item{
    /* margin-left: 30px; */
    position:absolute;
    left: 10%;
    top:3%;
    padding:10px;
	font-size:17px;
	border-radius:30px;
	font-weight:bold;
	background-color:rgb(30, 30, 54);
	color:white;
}